
# Created by https://www.toptal.com/developers/gitignore/api/dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=dotnetcore

### DotnetCore ###
# .NET Core build folders
src/backend/TL.Api/bin/
src/backend/TL.Api/obj/
src/backend/TL.Domain/bin/
src/backend/TL.Domain/obj/
src/backend/TL.Repositories/bin/
src/backend/TL.Repositories/obj/
src/backend/TL.Services/bin/
src/backend/TL.Services/obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore
src/backend/.vs/TL.Framework/config/applicationhost.config
src/backend/.vs/TL.Framework/DesignTimeBuild/.dtbcache.v2
src/backend/.vs/TL.Framework/v16/.suo
